#=======================================================================================================
# DNS settings

# Path to file with list of DNS servers
DNS_RESOLVERPATH=dns_servers.csv
# DNS answer timeout in seconds
DNS_TIMEOUT=1
# Choice delimeter in CSV file. must be a single char
DELIMETER=,
# Choice delimeter for value in fiels 'zonename', 'query_count_rps', 'zonename_with_recursion' and 
# 'query_count_with_recursion_rps' in CSV file. must be a single char
DELIMETER_FOR_ADDITIONAL_PARAM=&

#=======================================================================================================
# Prometheus

# Prometheus remote write url. example: http://prometheus:8428/api/v1/write
PROM_URL=http://prometheus:8428/api/v1/write
# Prometheus metric name
PROM_METRIC=dns_resolve
# Prometheus authentication. false or true. If true, values PROM_USER and PROM_PASS are required
PROM_AUTH=false
# Prometheus username
PROM_USER=testuser
# Prometheus password
PROM_PASS=testuser
# Count retries for post data in prometheus
PROM_RETRIES=2

# Add in labels:
#------------------------------------------------------------------------------------------------------- 
#OpCodes. Possible value: true or false
OPCODES=false
# Authoritative. Possible value: true or false
AUTHORITATIVE=false
# Truncated. Possible value: true or false
TRUNCATED=true
# Rcode. Possible value: true or false
RCODE=true
# RecursionDesired. Possible value: true or false
RECURSION_DESIRED=false
# RecursionAvailable. Possible value: true or false
RECURSION_AVAILABLE=false
# AuthenticatedData. Possible value: true or false
AUTHENTICATE_DATA=false
# CheckingDisabled. Possible value: true or false
CHECKING_DISABLED=false
# Polling rate. Possible value: true or false
POLLING_RATE=false
# Recursion. Request with reqursion or not. Possible value: true or false
RECURSION=true

#=======================================================================================================
# Watcher config

# Interval check changes in config in minutes
CONF_CHECK_INTERVAL=1
# Timeseries buffer size for sent to prometheus
BUFFER_SIZE=2
# Watcher location
WATCHER_LOCATION=K
# Watcher security zone
WATCHER_SECURITYZONE=PROD

#=======================================================================================================
# Watcher web config

# Lisenning port
WATCHER_WEB_PORT=8081
# User
WATCHER_WEB_USER=user
# Password
WATCHER_WEB_PASSWORD=Samsung1

#=======================================================================================================
# Logging Watcher

# Path to application log file
LOG_FILE=high_frequency_dns_mon.log
# Minimal severity level for application logging. Possible values: debug, info, warning, error, fatal (default: warning)
LOG_LEVEL=warning

# The maximum age of a log file to retain. (in days)
LOG_MAX_AGE=30
# The maximum size of a log file before it gets rotated. (in Megabytes (MB))
LOG_MAX_SIZE=10
# The maximum number of old log files to retain.
LOG_MAX_FILES=10

#=======================================================================================================
# Logging Watcher

# Path to auth log file
WATCHER_WEB_AUTH_LOG_FILE=high_frequency_dns_mon_auth.log
# Minimal severity level for auth logging. Possible values: debug, info, warning, error, fatal (default: warning)
WATCHER_WEB_AUTH_LOG_LEVEL=warning
# The maximum age of a log file to retain. (in days)
WATCHER_WEB_AUTH_LOG_MAX_AGE=30
# The maximum size of a log file before it gets rotated. (in Megabytes (MB))
WATCHER_WEB_AUTH_LOG_MAX_SIZE=10
# The maximum number of old log files to retain.
WATCHER_WEB_AUTH_LOG_MAX_FILES=10