<!-- SyncConfiguration.html -->
<html>
<head>
    <title>Member Configurations</title>
    {{template "styles"}}
</head>
<body>
    {{template "navbar"}}
    <div class="main-content">
        <div class="title-container">
            <h2>Member Configurations sync: {{.IsEnable}}</h2>
        </div>
        {{if .IsEnable}}
            <table>
                <tr>
                    <th>Hostname</th>
                    <th>Port</th>
                    <th>LastCheckDate</th>
                    <th>SeverConfigCheck</th>
                    <th>ConfigHash</th>
                    <th>SeverCsvCheck</th>
                    <th>CsvHash</th>
                    <th>IsLocal</th>
                    <!-- Add more headers as needed -->
                </tr>
                {{range .Members}}
                <tr>
                    <td>{{.Hostname}}</td>
                    <td>{{.Port}}</td>
                    <td>{{formatTime .LastCheckDate}}</td>
                    <td>{{formatTime .State.Configuration.LastUpdate}}</td>
                    <td>{{.State.Configuration.LastHash}}</td>
                    <td>{{formatTime .State.Configuration.LastUpdate}}</td>
                    <td>{{.State.Csv.LastHash}}</td>
                    <td>{{.IsLocal}}</td>
                    <!-- Add more data fields as needed -->
                </tr>
                {{end}}
            </table>
        {{else}}
            <div class="sync-disabled-message">
                Synchronize disabled
            </div>
        {{end}}
    </div>
    <a href="/docs" class="help-button" target="_blank" rel="noopener noreferrer">?</a>
</body>
</html>
