<!-- SyncConfiguration.html -->
<html>
<head>
    <title>Member Configurations</title>
    {{template "styles"}}
</head>
<body>
    {{template "navbar"}}
    <div class="main-content">
        <div class="title-container">
            <h2>Member Configurations sync {{.IsEnable}}</h2>
        </div>
        {{if .IsEnable}}
            <table>
                <tr>
                    <th>Hostname</th>
                    <th>Port</th>
                    <th>SeverLastCheck</th>
                    <th>ConfigHash</th>
                    <th>ResolvHash</th>
                    <th>ConfigLastCheck</th>
                    <th>ConfigLastUpdate</th>
                    <th>ResolvLastCheck</th>
                    <th>ResolvLastUpdate</th>
                    <th>IsLocal</th>
                    <!-- Add more headers as needed -->
                </tr>
                {{range .Members}}
                <tr>
                    <td>{{.Hostname}}</td>
                    <td>{{.Port}}</td>
                    <td>{{formatTime .SeverLastCheck}}</td>
                    <td>{{.ConfigHash}}</td>
                    <td>{{.ResolvHash}}</td>
                    <td>{{formatTime .ConfigLastCheck}}</td>
                    <td>{{formatTime .ConfigLastUpdate}}</td>
                    <td>{{formatTime .ResolvLastCheck}}</td>
                    <td>{{formatTime .ResolvLastUpdate}}</td>
                    <td>{{.IsLocal}}</td>
                    <!-- Add more data fields as needed -->
                </tr>
                {{end}}
            </table>
        {{else}}
            <div class="sync-disabled-message">
                Synchronize disabled
            </div>
        {{end}}
    </div>
</body>
</html>
